/* You can add global styles to this file, and also import other style files */

#themecolors .selector,
.pointer {
    cursor: pointer;
}

#btnLoginGoogle {
    justify-content: center;
    align-content: center;
    display: flex;
    text-align: center;
}

.img-avatar {
    width: 200px;
    height: 200px;
}